body {font-family: Verdana, sans-serif; color: #cccccc; background-color: #330033;}
.last {text-align: right; font-size: smaller;}
figure img {border-radius: 15px; max-width: 125px;}
figcaption a {text-decoration: none;}
figure {text-align: center; font-weight: bold; float: left; margin: 10px;}
.dim {opacity: 0.3;}
a:link, a:visited, span.fakelink {color: #9999ff;}
